<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ahmedakram.ovicify">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ArtistTracksActivity"
            android:label="Tracks of same artist"
            android:screenOrientation="portrait"/>
        <activity android:name=".AlbumsTracksActivity"
            android:label="Tracks of same album"
            android:screenOrientation="portrait"/>
        <activity android:name=".PlayActivity"
            android:label="Play Music"
            android:screenOrientation="portrait"/>
        <activity android:name=".ArtistsActivity"
            android:label="All Artists"
            android:screenOrientation="portrait"/>
        <activity android:name=".AlbumsActivity"
            android:label="All Albums"
            android:screenOrientation="portrait"/>
        <activity android:name=".SongsActivity"
            android:label="All Songs"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:label="Ovicify App"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>